<html>
    <head>
      <title>{{ title }} - Rock Paper Scissors Game!</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"
    </head>
    <body>
        <header>
            <nav>
                <h2>The Rock, Paper, Scissors Game!</h2>
                <ul>
                    <li><a href="/">Return to the homepage </a></li>
                    <li><a href="welcome">Welcome</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="play_game">Play Game</a></li>
                    <li><a href="result">Result</a></li>
                    
                </ul>
            </nav>
        </header>
        {% block content %}

        {% endblock %}
        <hr>
    </body>
</html>